* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    color: #ffffff;
}


.nav-princ {
    /* display: flex; */
    background-color:#9f3647 ;
    color:#ffffff;
    min-height: 15vh;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 ;

}

#logo-princ{
    font-size: 1.5rem;
}

#nav-sec{
    display: flex;
    flex-wrap: wrap;
}

#sec-nav-princ {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 1rem;
}

.nav-princ ul li {
    font-size: 1rem;
}

.nav-princ a {
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    margin: 0.5rem ;
    padding: 0.5rem;
    font-weight: 600;
    animation-duration: 2s;
       /* si no le pongo duracion como si fuera kayframe no fucniona  */
}

.nav-princ a:hover {
    color: #ffffff;
    background-color: #181419;
    border-radius: 5px;
    /* font-weight: 800;
    color:#181419 ;
    border-bottom: #181419;
    border-bottom-style: solid;
    border-bottom-width: medium%; */

}

#logo-princ:hover{
    background-color: transparent;
    color: #000000;
}


nav a p {
    padding-left: 0.5rem;
}


body {
    background-color: #181419;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    animation-duration: 2s;
    
}

.section-principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner-bg.jpg);
    height: 85vh;
    background-position: center;
    background-size: cover;
    animation-duration: 2s; 
    /* si no le pongo duracion como si fuera kayframe no fucniona  */

    

}



.section-principal h1{
    font-size: 3rem;
    font-weight: 700;

}

.section-principal h2 {
    font-size: 1.5rem;
    font-weight: 400;
}


button {
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-size: 1.2rem;
    border-width: 0;
    margin-top: 2rem;
}

button.boton-princ  {
    background-color: #9f3647;
}

button.boton-princ:hover{
    box-shadow: 2px 2px 5px 2px rgb(41, 41, 41);
    scale: 90% ;
}


button.boton-sec  {
    background-color: #9f3647;
}

button.boton-sec:hover{
    /* box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 1);
    scale: 90% ; */
    background-color: #cea140;
    color: #181419 ;
    font-weight: 800;
}

.boton-busc{
    background-color: #ffffff;
    width: 60vw;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-size: 1.2rem;
    border-width: 0;
    margin-top: 2rem;
    margin-right: 1rem;
}

.section-buscador {
    height: 40vh;
    text-align: center;
    
}

.titulos-section {
    margin-top: 10px;
    margin-bottom: 15px;
}


 .section-tendencias article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.section-tendencias article div{
    height: 600px;
    padding-right: 10px;
    padding-left: 10px;

}

.titulos-sec{
    margin-top: 20px;   

}

.peli-tendencias {
    height: 80%;
    border-radius: 15px;


}

.peli-tendencias:hover,.peli-aclamadas:hover {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 1);
    scale: 90% ;

}



.section-aclamadas {
    height: 70vh;
    padding-top: 3rem;
    /* width: 90vw; */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;

}

.section-aclamadas article {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color:   #9f3647  #181419;
    width: 100%;
    margin-left: 1rem;
    justify-content: center;
    margin-top: 1rem;

}


 .section-aclamadas article img {
    height: 70%;
    margin: 0 1rem;
    border-radius: 15px;


} 

@media only screen and (min-width: 768px) {


.nav-princ {
    min-height: 10vh;
    align-content: center;
    padding: 0 2rem;
}



.nav-princ nav{
    display: flex;
    line-height: normal;
    justify-content: space-between;
}

#sec-nav-princ {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    align-content: center;

}

#sec-nav-princ a{

    padding: 0.5rem;
    
}

.section-principal {
    height: 90vh;
}

.section-aclamadas {
    padding-top: 2rem;
    height: 80vh;

}

.peli-aclamadas {
    height: 80%;
    border-radius: 10px;

}


.section-aclamadas article img {
    height: 80%;


} 


section h2{
    font-size: 2rem;
    font-weight: 700;
}


footer.nav-princ ul{
    display: flex;
    justify-content: center;
}


footer.nav-princ ul li{
font-size: 1.1rem;
font-weight: 500;
}



}